{:tenant "teste"
 :distribution-channel {:id #uuid "ca9cccea-d479-4dfb-99e7-138231a41282"
                        :cnpj "99175376597583"
                        :legal-name "teste"
                        :alias "teste"
                        :address {:street "Rua Professor Teodorico"
                                  :number "1000"
                                  :neighborhood "Montese"
                                  :city "Fortaleza"
                                  :uf :CE
                                  :cep "60421010"}
                        :email "mateus.santos@gmail.com"
                        :phone {:number "989577949"
                                :area-code "85"
                                :country-code "55"}
                        :visibility :staging
                        :api-config {:rate-limit 3}
                        :backoffice-config {:features [:show-quotations
                                                       :list-proposals]}}

 :shared {:cancellation-config #:product-cancellation-config{:allow-reimbursement true
                                                             :reimbursement-mode :product-reimbursement-mode/pro-rata
                                                             :allow-reimbursement-info? true
                                                             :reimbursement-info #:product-combo-sale-cancellation.reimbursement-info{:payment-method :payment.method/invoice}}

          :payment-options [{:payment-type :payment.type/invoice
                             :installments {:min-val 1
                                            :max-val 12}}]

          :channel-emails-config {:new-claim {:enabled? true
                                              :recipient-emails ["mateus.santos@gmail.com"]}}}

 :products
 []}